{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="account-page">
      <div class="container">
            <div class="row">

                <div class="col-2">

                    <div class="form-container" id="reset-pass-done-form-container">

                        <div class="orange_rectangle" id="up-rect">
                            <img src="{% static 'img/images/registration_pic.png'%}" width="15%">
                        </div>

                        <div class="form-btn" id="reset-pass-form-btn">
                            <span id="first-word">Системное</span>   

                            <span id="second_word">предупреждение</span> 
                        </div>

                        {% user_display user as user_display %}
                        
						<p> 
							{% blocktrans %}Вы уже залогинены как {{ user_display }}.{% endblocktrans %}
						</p>

                        <div class="orange_rectangle" id="down-rect"></div>
                        
                    </div>
                </div>

            </div>
        </div>
  </div>

{% endblock %}

