{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Выход" %}{% endblock %}

{% block content %}
  <div class="account-page">
      <div class="container">
			<div class="row">

				<div class="col-2">

					<div class="form-container">

						<div class="orange_rectangle" id="up-rect">
							<img src="{% static 'img/images/registration_pic.png'%}" width="15%">
						</div>

						<div class="sign-out">
							<div class="form-btn">
								<span>{% trans 'Выйти' %}
								</span>
								<!-- <hr id="Indicator"> -->
							</div>

							<p class="form-container-p">{% trans 'Вы уверены, что хотите выйти?' %}</p>

							<form method="post" action="{% url 'account_logout' %}">
								{% csrf_token %}
								<div class="sign-out-btns">
									{% if redirect_field_value %}
									<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
									{% endif %}
									<button class='btn' type="submit">{% trans 'Выйти' %}</button>
								</div>
							</form>
						</div>

						<div class="orange_rectangle" id="down-rect"></div>

					</div>
				</div>
			</div>
	  </div>
  </div>
{% endblock %}
