{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  <div class="account-page">
      <div class="container">
            <div class="row">

                <div class="col-2">

                    <div class="form-container" id="pass-reset-form-container">
                        

                        <div class="orange_rectangle" id="up-rect">
                            <img src="{% static 'img/images/registration_pic.png'%}" width="15%">
                        </div>

                        {% if token_fail %}

                        <div class="form-btn" id="pass-rest-failed-header">
                            <span>Плохое соединение</span>
                            <!-- <hr id="Indicator"> -->
                        </div>

                        {% else %}

                        <div class="form-btn" id="change-pass">
                            <span>Изменить пароль</span>
                            <!-- <hr id="Indicator"> -->
                        </div>

                        {% endif %}

                        

                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}

                        <div class="pass-rest-failed-body">

                            <p>{% blocktrans %}
                                Ссылка была не действительна, ввиду ее повторного испрользования.
                                Пожалуйста, обартитесь <a href="{{ passwd_reset_url }}">по адресу</a>.{% endblocktrans %}</p>
                            <a href="{% url 'core:home' %}" class="btn">Окей</a>

                        </div>


                        {% else %}
                            {% if form %}
                                
                                 <form method="POST" action="/accounts/password/reset/key/1-set-password/" class="new-pass-enter">
                                    {% csrf_token %}
                                    <p>
                                        <label for="id_password1">Новый пароль:</label>

                                        <input type="password" name="password1" placeholder="Введите пароль" required id="id_password1">

                                    </p>

                                    <p>
                                        <label for="id_password2">Новый пароль (повторно):</label>

                                        <input type="password" name="password2" placeholder="Введите пароль (повторно)" required id="id_password2">

                                    </p>

                                     <input type="submit" name="action" value="Изменить пароль" class="btn" />

                                </form>

                            {% else %}
                                <p>{% trans 'Ваш пароль был успешно изменен.' %}</p>
                            {% endif %}
                        {% endif %}

                        <div class="orange_rectangle" id="down-rect"></div>
                        
                    </div>
                </div>
            </div>
        </div>
  </div>

{% endblock %}
