{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Восстановление пароля" %}{% endblock %}

{% block content %}

<div class="account-page">
      <div class="container">
            <div class="row">

                <div class="col-2">

                    <div class="form-container" id="reset-pass-form-container">

                        <div class="orange_rectangle" id="up-rect">
                            <img src="{% static 'img/images/registration_pic.png'%}" width="15%">
                        </div>

                        <div class="form-btn" id="reset-pass-form-btn">
                            
                            <span id="first-word">Восстановление</span>   

                            <span id="second_word">пароля</span>
                            
                            <!-- <hr id="Indicator"> -->

                        </div>

                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <div id="pass-reset-two-warnings">
                            
                            <p class="form-container-p">{% trans "Забыли пароль? Введите ваш e-mail адрес ниже, и мы отправим вам с дальнейшими инструкциями по восстановлению пароля." %}</p>

                            <p class="form-container-p">{% blocktrans %}Пожалуйста, уведомите нас при возникновении проблем с восстановлением пароля.{% endblocktrans %}</p>

                        </div>

                        <form method="POST" action="/accounts/password/reset/" class="password_reset">
                            
                            {% csrf_token %}

                            <div id="pass-reset-two-battons">
                                
                                <p>
                                    <label for="id_email">Введите E-mail:
                                    </label> 

                                    <input type="email" name="email" size="30" placeholder="E-mail address" required id="id_email">
                                </p>

                                <input class="btn" type="submit" value="Восстановить мой пароль" id="reset-pass-btn" />

                            </div>

                        </form>

                        <div class="orange_rectangle" id="down-rect"></div>
                        
                    </div>
                </div>

            </div>
        </div>
  </div>

{% endblock %}
